*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/.gitignore
/.idea/compiler.xml
/.idea/gradle.xml
/.idea/misc.xml
/.idea/vcs.xml
/app_signing_key.jks
/app/google-services.json
/app/release/output-metadata.json
/.idea/*
/keystore.properties
/app/detekt-baseline.xml
/data/detekt-baseline.xml
